.work {
    text-align: center;
}

.work_title {
    font-size: var(--size-2xl);
    color: var(--clr-light);

}

.work_description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);

    margin: 1rem auto;
}
.work_project_title {
    font-size: var(--size-base);
    margin-bottom: 1rem;
}
.work_img_wrapper {
    position: relative;
}
.work_img_wrapper::after {
    content: '';
    background-color: rgba(23, 37, 84,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.work_img_wrapper:hover::after {
    background-color: rgba(23, 37, 84,0.3);
}
.work_project:not(:last-child) {
    
    margin-bottom: 5rem;
}
.work_project_description1 {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
    margin: 1rem 0;
}
.work_project_description2 {
    font-size: var(--size-sm);
    color: var(--clr-slate400);
    margin-bottom: 1rem;
}
.btn work_project_btn {
    font-size: var(--size-sm);

}
/* xs*/
@media (min-width: 475px) {
    .work_title {
        font-size: var(--size-3xl);
    }
    
    .work_description {
        font-size: var(--size-base);
        margin: 1.5rem auto;
    }
}
/*sm*/
/*@media (min-width: 640px) {}*/
/*md*/
/*@media (min-width: 768px) {}*/
/*lg*/
@media (min-width: 1024px) {
    .work_title {
        font-size: var(--size-4xl);
    }
    
    .work_description {
        font-size: var(--size-lg);

    }
}
/*xL*/
@media (min-width: 1280px) {
        .work_title {
        font-size: var(--size-5xl);
    }
    
    .work_description {
        font-size: var(--size-xl);
        margin: 2rem auto;
    }
}
/*2xL*/
/*@media (min-width: 1536px) {} */